<launch>
    <!--car1节点：
    main_control节点发布话题car1/write传速度消息
    其他节点通过car1/read接收传感器消息
    -->
    <node pkg="serial_pkg" type="car1_node" name="car1" output="screen">
        <param name="serial_port" type = "string" value="/dev/ttyUSB0" />
    </node>
    <!--camera1节点：
    main_control节点通过camera1/read接收图像消息
    -->
    <node pkg="serial_pkg" type="camera1_node" name="camera1" output="screen">
        <param name="serial_port" type = "string" value="/dev/ttyUSB1" />
    </node>

</launch>